# Server Port
PORT=3001

# PostgreSQL Database (Prisma 7)
DATABASE_URL=postgresql://username:password@localhost:5432/cryptospike

# Binance Credentials (Opsional - Bisa diatur langsung di Dashboard Settings CRUD)
BINANCE_API_KEY=your_binance_api_key
BINANCE_SECRET_KEY=your_binance_secret_key
BINANCE_TESTNET=true

